body{
    background-color: rgb(131, 113, 87);
}
h1{
    background-color: cadetblue;
}
p{
    background-color: chartreuse;
font-weight: 800;
}

.myid{
    background-color: black; color: aliceblue;
}